@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
html,
.color{
  background-color: #FCF6F5;
  margin: 0;
}

.Nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin: 0 20px;
}

.main{
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  color: #7b9acc;
  font-size: 9rem;
  z-index: 2;
}

.main_image{
  position: absolute;
  width: 250px;
  height: 300px;
  bottom: 8px;
  right: 500px;
  user-select: none;
  border-radius: 60%;
  z-index: 1;
}

.main_img{
  position: absolute;
  width: 300px;
  height: 432px;
  right: 250px;
  user-select: none;
}

.main>span{
  font-weight: 700;
}

.first-bar {
  position: relative;
  margin: 0 20px;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.login {
  margin-right: 5px;
}

.search {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 20px;
  height: 20px;
  
}

.menu-bar {
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.search-bar {
  cursor: pointer;
}

.search input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: #FCF6F5;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.underline {
  height: 2px;
  width: 200px;
  background-color: rgb(209, 38, 38);
  position: absolute;
  top: 220px;
}

.menu-list {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  margin-top: 20px;
}

.menu-list li {
  margin-right: 20px;
  font-size: 25px;
  font-family: 'Edu TAS Beginner', cursive;
  color: #7b9acc;
}

.menu-list li:hover {
  border-bottom: 1px solid #7b9acc;
}

.container {
  margin-top: 20px;
}

.product-card {
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Song Myung', serif;
}

.product-card div{
  margin-top: 5px;
}

.product-card .title{
  color: #7b9acc;
} 

.img-card {
  transition: 0.5s;
}

.img-card:hover {
  transform: scale(1.1);
}

.product-section {
  padding-top: 90px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-img img{
  width: 400px;
}

.product-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 17px;
  margin-bottom: 5px;
}

.product-choice {
  margin-bottom: 10px;
}

.size-btn {
  margin-bottom: 10px;
}

.add-btn button {
  width: 100%;
}

@media (max-width: 740px) {
  .menu-list {
    display: none;
  }

  .login {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .search .search-bar{
    display: none;
  }

  .search input{
    display: none;
  }

  .main{
    color: #7b9acc;
    font-size: 5rem;
  }

  .main_img{
    opacity: 0;
    visibility: hidden;
  }

  .main_image{
    opacity: 0;
    visibility: hidden;
  }
}



  .side-menu {
    z-index: 1;
    display: block;
    background-color: burlywood;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
  }

  .x-bar {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }

  .x-icon {
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .side-menu-list button {
    margin: 5px;
    background: none;
    width: 120px;
    border: none;
  }

  .side-menu-list button:hover {
    border-bottom: 2px solid white;
  }

  